.block1 {
    background-color: rgb(0, 247, 255);
    width: 70%;
    height: 200px;
}

.block2 {
    height: 200px;
    margin-right: 10px;
}

.info {
    height: 150px;
    font-size: 30px;
    font-weight: 600;
    background-image: linear-gradient(to left, #3e9a3c, #d39393);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}