<?php foreach ($data['listCauHoi'] as $ch): ?>
        <div class="i-col-2 col-inline-block">
                        <p class="i-des" data="1280:1">
                                <a href=""><span>■</span> <?php echo $ch['Noi_dung'] ?></a>

                        </p>

                        <p class="i-des" data="1281:1">
                                <a href=""><span>■</span><?php echo $ch['Dap_an_A'] ?>
</a>
                        </p>

                        <p class="i-des" data="1282:1">
                                <a href=""><span>■</span><?php echo $ch['Dap_an_B'] ?>
</a>
                        </p>

                        <p class="i-des" data="1283:1">
                                <a href=""><span>■</span><?php echo $ch['Dap_an_C'] ?>
</a>
                        </p>
                        <p class="i-des" data="1283:1">
                                <a href=""><span>■</span><?php echo $ch['Dap_an_D'] ?>
</a>
                        </p>
         </div>
<?php endforeach;?>





 <?php for ($i = 1; $i < 10; $i++) {?>

                         <ul>
                            <li>
                                <?php echo "<h4>Câu $i </h4>" ?>


                                    <p>My sister often goes to ......... church by .............. bus.</p>
                                    <div class="part-item detail question-detail" style="padding: 10px">
                                        <div class="question-answer-detail" data-type="0">
                                                            <!-- Single choice-->

											<label for="<?php echo $i . '1' ?>" class="container">Đáp án 1
									           <input type="radio" name="<?php echo 'Ketquacau' . $i ?>" id="<?php echo $i . '1' ?>" value="1" >
									           <span class="checkmark"></span>

								        	</label>
                                             <br></br>
                                           <label for="<?php echo $i . '2' ?>" class="container">Đáp án 2
												<input type="radio" name="<?php echo 'Ketquacau' . $i ?>" id="<?php echo $i . '2' ?>"  value="1">
												<span class="checkmark"></span>

											</label>
											<br></br>
											<label for="<?php echo $i . '3' ?>" class="container"> Đáp án 3
											    <input  type="radio" name="<?php echo 'Ketquacau' . $i ?>" id="<?php echo $i . '3' ?>" value="3">
											     <span class="checkmark"></span>

											</label>
											<br></br>
											<label for="<?php echo $i . '4' ?>" class="container"> Đáp án 4
												<input  type="radio" name="<?php echo 'Ketquacau' . $i ?>" id="<?php echo $i . '4' ?>" value="4">
												<span class="checkmark"></span>

											</label>
                                            <br></br>
                                        </div>

					        </li>

                        </ul>
                    <?php }?>
