<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <a href="lythuyet">Lý thuyết</a>
    <a href="baitap">Bài tập</a> -->
    <form action="AddUser" method="post">
      <input type="text" name="Name" />
      <input type="email" name="Email" />
      <input type="text" name="Account" />
      <input type="password" name="Password" />
      <input type="text" name="Authorization" />
      <input type="submit" value="Submit" />
      <a href=""></a>


      <form action="/deleteUser" method="get" >

						  <input type="submit" class="button" ><i class="fa fa-pencil-square-o"></i></input>
							<button class="button"><i class="fa fa-trash-o"></i></button>

						</form>

      <button onclick=""></button>
    </form>
  </body>
</html>
